body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-top: 43px;
}
.logo {
    width: 97px;
    height: 30px;
}
.nav {
    list-style-type: none;
    display: flex;
    gap: 54px;
    font-size: 18px;
}
.nav a {
    text-decoration: none;
    color: #2B3541;
    padding-bottom: 10px;
    transition: border-bottom .2s;
    border-bottom: 1px solid transparent;
}
.header-nav a:hover {
    border-bottom: 1px solid #2B3541;
}
.socials {
    display: flex;
    gap: 30px;
    padding-left: 340px;
}
.socials a {
    text-decoration: none;
    transition: 0.2s;
    transform: scale(1);
    opacity: 0.8;
}
.socials a img:hover {
    transform: scale(1.2);
    opacity: 1;
}
.banner-girl {
    position: absolute;
    top: 119px;
    left: 32.2%;
}
.banner-girl-img {
    max-width: 915px;
}
.banner-box {
    position: relative;
    max-width: 676px;
    padding-top: 240px;
    margin-bottom: 102px;
}
h1 {
    margin: 0;
    font-size: 48px;
    color: #2B3541;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 43px;
    letter-spacing: 0.03em;
}
.banner-box-item {
    padding-left: 14px;
}
h2 {
    margin: 0;
    display: inline;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #2B3541;
}
.banner-text {
    max-width: 297px;
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #2B3541;
    margin-bottom: 35px;
    margin-left: 89px;
    margin-top: 23px;
}
.banner-box-btn {
    background: #FBF138;
    border: none;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #2B3541;
    padding: 24px 31px;
    margin-bottom: 239px;
    margin-left: 88px;
    letter-spacing: 0.03em;
    transition: 0.2s;
}
.btn:hover {
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
    color: #FBF138;
    cursor: pointer;
}
.banner-link {
    display: block;
    position: relative;
    bottom: 58px;
    right: 3px;
    width: 52px;
    height: 55px;
}
h3 {
    margin: 0;
    font-size: 40px;
    color: #2B3541;
    padding-top: 3px;
}
.content-flex {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
.content-flex-date {
    font-weight: 700;
    font-size: 18px;
    color: #2B3541;
    opacity: 0.6;
    margin-bottom: 26px;
    margin-top: 35px;
    margin-left: 30px;
}
.content-flex-title {
    max-width: 260px;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #2B3541;
    margin-bottom: 40px;
    margin-left: 30px;
}
.content-flex-btn {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #2B3541;
    background-color: #FBF138;
    width: 121px;
    height: 47px;
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
}
.content-hover-btn {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FBF138;
    background-color: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
    width: 221px;
    height: 64px;
    margin-left: 30px;
    display: none;
    cursor: pointer;
    border: none;
}
.content-phone-btn {
    background-image: url(../images/add.svg);
    width: 30px;
    height: 30px;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
}
.content-phone-btn:hover {
    cursor: pointer;
}
.item {
    position: relative;
    flex-basis: 100%;
    background-repeat: no-repeat;
    height: 37.5em;
}
.item:hover .content-flex-btn {
    display: none;
}
.item:hover .content-hover-btn {
    display: block;
}
.item:hover .item-cover {
    background: linear-gradient(180deg, rgba(251, 241, 56, .6) 0%, rgba(253, 249, 182, 0) 100%);
    padding-top: 1px;
}
.item-one { 
    background-image: url(../images/item-one.jpg);
    height: 599px;
}
.item-two {
    background-image: url(../images/item-two.jpg);
}
.item-three {
    background-image: url(../images/item-three.jpg);
}
.title {
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    margin-bottom: 38px;
}
.title span:nth-of-type(1) {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #2B3541;
    max-width: 262px;
}
.title span:nth-of-type(2) {
    font-weight: 700;
    font-size: 28px;
    color: #2B3541;
    padding-top: 15px;
}
p {
    margin: 0;
}
.content-grid-item {
    position: relative;
    border: 1px solid rgb(43, 53, 65, .5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 30px;
    overflow: hidden;
}
.content-grid-data {
    font-size: 18px;
    color: #010101;
    opacity: 0.7;
    position: absolute;
    top: 21px;
    right: 26px;
}
.content-grid-img1 {
    width: 65px;
    height: 65px;
}
.content-grid-img2 {
    width: 42px;
    height: 85px;
}
.content-grid-img3 {
    width: 91px;
    height: 50px;
}
.content-grid-img4 {
    width: 67px;
    height: 107px;
}
.content-grid-img5 {
    width: 65px;
    height: 61px;
}
.content-grid-img6 {
    width: 58px;
    height: 66px;
}
.content-grid-title {
    font-weight: 700;
    font-size: 18px;
    color: #2B3541;
    margin-top: 38px
}
.content-grid-text {
    font-size: 18px;
    line-height: 27px;
    color: #2B3541;
    visibility: hidden;
    max-height: 0;
}
.content-grid-text-active {
    visibility: visible;
    max-height: 135px;
    margin-top: 18px;
}
.content-grid-item:hover .content-grid-text {
    visibility: visible;
    max-height: 135px;
    transition: 0.2s linear;
    margin-top: 18px;
}
.content-grid-item:hover {
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
}
.content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 40px 73px 279px;
    gap: 20px;
    margin-bottom: 160px;
}
.content-grid-item:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/2;
}
.content-grid-item:nth-child(3){
    grid-column: 2/3;
    grid-row: 1/4;
}
.content-grid-item:nth-child(5){
    grid-column: 3/4;
    grid-row: 1/3;
}
.content-grid-item:nth-child(2){
    grid-column: 1/2;
    grid-row: 2/5;
    background: linear-gradient(180deg, #FBF138 -70%, rgba(253, 249, 182, 0.45) 100%);
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    border: none;
}
.content-grid-item:nth-child(4){
    grid-column: 2/3;
    grid-row: 4/5;
}
.content-grid-item:nth-child(6){
    grid-column: 3/4;
    grid-row: 3/5;
}
.row {
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    margin-bottom: 165px;
}
.row-title {
    margin-top: 47px;
    margin-bottom: 4px;
    background-image: url(../images/circle.svg);
    background-repeat: no-repeat;
    background-position-x: -24px;
    background-position-y: 6px;
    padding: 37px;
}
.row input {
    background-color: #FFFFFF;
    border: none;
    display: block;
    flex: 0 0 57%;
    padding: 18px;
    margin-left: 33px;
    max-width: 334px;
}
input:focus {
    outline: none;
}
input:invalid {
    border: 1px solid #AE0303;
}
.invalid {
    color: #AE0303;
    font-size: 13px;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 34px;
    display: none;
}
input:invalid .invalid {
    display: block;
}
input::placeholder {
    font-size: 18px;
    color: #2B3541;
    opacity: 0.3;
}
.subscription-btn {
    background: #FBF138;
    border: none;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #2B3541;
    padding: 21px 42px;
    letter-spacing: 0.03em;
    transition: 0.2s;
}
.subscription {
    display: flex;
    gap: 22px;
    margin-bottom: 14px;
}
.checkbox:checked,
.checkbox:not(:checked){
   position: absolute;
   left:-9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
   position: relative;
   padding-left: 23px;
   cursor:pointer;
}
.checkbox:checked + label::before{
   content:'';
   position: absolute;
   width: 24px;
   height: 24px;
   left: 0;
   top: calc(50% - 12px);
   background-color: transparent;
}
.checkbox:checked + label::after{
   content:'';
   position: absolute;
   width: 22px;
   height: 22px;
   transition: all .2s ease;
   opacity: 1;
   left: 0;
   top: calc(50% - 12px);
   background-image: url(../images/mdi_check_box.svg);
   background-size: cover;
}
.checkbox:not(:checked) + label::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left: 0;
   top: calc(50% - 10px);
   background-color: transparent;
   border: 2px solid #5d575f;
}
.checkbox:not(:checked) + label::after{
   content:'';
   position: absolute;
   width: 12px;
   height: 12px;
   transition: all .2s ease;
   opacity: 0;
   left: 4px;
   top: calc(50% - 6px);
}
.radio:checked + label::before{
   border-radius: 100%;
}
.agreement label {
    font-size: 11px;
    color: rgb(43, 53, 65, 0.5);
}
.agreement label a {
    color: rgb(43, 53, 65, 0.5);
}
.agreement label a:hover {
    color: rgb(43, 53, 65, 1);
}
.agreement {
    margin-bottom: 80px;
    margin-left: 31px;
}
.aside-flex {
    display: flex;
    gap: 77px;
    margin-bottom: 80px;
}
.aside-cover img {
    width: 100%;
    height: auto;
}
.aside-flex2 {
    display: flex;
    justify-content: space-between;
    gap: 67px;
}
.aside-text-a {
    flex-basis: 39%;
}
.aside-text-b {
    flex-basis: 47%;
}
.aside-text-c {
    flex-basis: 37%;
}
.aside-text-d {
    flex-basis: 34%;
}
.aside-box p {
    font-size: 18px;
    line-height: 27px;
    color: #2B3541;
    max-width: 483px;
    margin-top: 22px;
    margin-bottom: 36px;
}
.aside-btn {
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    border: none;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #2B3541;
    padding: 21px 51px;
    letter-spacing: 0.03em;
    transition: 0.2s;
}
.aside-title {
    font-weight: 700;
    font-size: 18px;
    color: #2B3541;
    margin-bottom: 20px;
}
.aside-description {
    font-size: 18px;
    line-height: 27px;
    color: #2B3541;
    opacity: 0.6;
}
.aside {
    margin-bottom: 170px;
}
footer {
    background-color: #F3F3F3;
    padding-top: 34px;
    padding-bottom: 22px;
}
.footer-img {
    position: absolute;
    left: 823px;
    bottom: 5px;
    width: 50px;
    height: 50px;
}
.footer span {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    color: #2B3541;
    margin-right: 62px;
}
.footer span:hover {
    cursor: pointer;
}
.additional p {
    font-size: 14px;
    color: rgb(43, 53, 65, 0.3);
}
.footer, .additional {
    display: flex;
    align-items: center;
}
.additional {
    justify-content: space-between;
}
.additional a {
    color: rgb(43, 53, 65, 0.3);
}
.additional a:hover {
    color: rgb(43, 53, 65, 1);
}
.footer {
    position: relative;
    margin-bottom: 24px;
    padding-top: 7px;
}
.footer-nav {
    align-items: center;
    font-size: 14px;
    gap: 90px;
    margin-right: 217px;
    padding-left: 76px;
}
.footer-nav a:hover {
    border-bottom: 1px solid #2B3541;
}
.footer-socials {
    width: 27px;
    height: 27px;
    display: flex;
    gap: 27px;
    padding-bottom: 6px;
}
.footer-socials a img:hover {
    transform: scale(1.2);
    opacity: 1;
}
.site-socials {
    display: flex;
    align-items: center;
}

/* modal */

#modal {
    background-color: #F3F3F3;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    margin: 273px auto;
    box-sizing: border-box;
    transition: 0.5s;
    padding-top: 60px;
}
.modal-title {
    position: relative;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #2B3541;
    margin-bottom: 18px;
}
.modal-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 50px;
}
.modal input {
    background-color: #FFFFFF;
    border: none;
    display: block;
    padding: 18px;
    max-width: 480px;
}
.modal-description {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #2B3541;
}
.modal-btn {
    max-width: 500px;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    padding: 21px;
    border: none;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 80px;
}
.modal-btn:hover {
    cursor: pointer;
}
.close-modal {
    background-image: url(../images/close.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    background-color: transparent;
}
.modal img {
    position: absolute;
    left: 100px;
    top: 18px;
    width: 100px;
    height: 100px;
}
.close-modal:hover {
    cursor: pointer;
}
.burger-menu {
    display: block;
    background-image: url(../images/burger1.svg);
    text-decoration: none;
    background-color: transparent;
    background-size: cover;
    width: 29px;
    height: 22px;
    margin-left: 10px;
}

/*popup menu*/

.popup {
    background-color: rgb(43, 53, 65, .4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}
.popup-content {
    background-color: #F3F3F3;
    width: 100%;
    height: 51%;
}
.popup:target {
    opacity: 1;
    visibility: visible;
}
.header-menu-logo {
    display: block;
    width: 78px;
    height: 24px;
    background-color: transparent;
}
.header-menu-close {
    display: block;
    text-decoration: none;
    background-image: url(../images/close.svg);
    width: 20px;
    height: 20px;
    background-color: transparent;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px 40px 10px;
}
.body-menu p {
    font-size: 16px;
    color: #2B3541;
    margin-left: 10px;
}
.body-menu p::after {
    content: '';
    display: block;
    border: 1px solid rgb(43, 53, 65, .2);
    margin: 20px 0;
}
.body-menu .last::after {
    content:'';
    display: none;
}
.popup-socials {
    display: flex;
    justify-content: end;
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 20px;
}
.popup-socials img{
    width: 26px;
    height: 26px;
}

/* responsive*/

@media (max-width: 1000px) {
    .container {
        max-width: 800px;
    }
    .logo {
        width: 92px;
        height: 25px;
    }
    .nav {
        gap: 44px;
        font-size: 16px;
    }
    .socials {
        gap: 20px;
        padding-left: 3em;
    }
    .banner-girl {
        left: 22.2%;
    }
    h1 {
        font-size: 40px;
        margin-bottom: 23px;
    }
    h2 {
        font-size: 26px;
    }
    .banner-text {
        font-size: 17px;
        margin-top: 16px;
    }
    .item {
        flex: 0 0 28vw;
        height: 60vw;
        background-size: cover;
        background-position: center;
        width: 31%;
    }
    h3 {
        font-size: 35px;
    }
    .content-hover-btn {
        font-size: 13px;
        width: 158px;
        height: 54px;
    }
    .content-flex-date {
        font-size: 16px;
        margin-bottom: 18px;
        margin-left: 22px;
    }
    .content-flex-title {
        max-width: 177px;
        font-size: 22px;
        line-height: 26px;
        margin-left: 22px;
    }
    .title span:nth-of-type(1) {
        font-size: 29px;
        max-width: 453px;
    }
    .title span:nth-of-type(2) {
        font-size: 20px;
    }
    .content-grid {
        grid-template-rows: 35vw 1vw 2vw 47vw;
        gap: 10px;
    }
    .content-grid-item {
        padding: 20px 16px;
    }
    .content-grid-data {
        font-size: 0.8125em;
    }
    .content-grid-img1 {
        width: 8vw;
        height: 8vw;
    }
    .content-grid-title {
        font-size: 0.8125em;
    }
    .content-grid-text {
        font-size: 0.6875em;
        line-height: 22px;
    }
    .content-grid-img2 {
        width: 9vw;
        height: 11vw;
    }
    .content-grid-img3 {
        width: 12vw;
        height: 9vw;
    }
    .content-grid-img4 {
        width: 9vw;
        height: 14vw;
    }
    .content-grid-img5 {
        width: 9vw;
        height: 8.5vw;
    }
    .content-grid-img6 {
        width: 8.5vw;
        height: 9vw;
    }
    .row-title {
        margin-top: 25px;
        font-size: 30px;
    }
    .row input {
        margin-left: 27px;
        max-width: 37vw;
    }
    .subscription-btn {
        font-size: 14px;
        padding: 18px 30px;
    }
    .aside-box p {
        font-size: 16px;
    }
    .aside-btn {
        padding: 17px 43px;
    }
    .aside-flex2 {
        gap: 36px;
    }
    .aside-title {
        font-size: 0.9375em;
    }
    .aside-description {
        font-size: 0.8125em;
        line-height: 1.5em;
    }
    .footer-nav {
        gap: 30px;
        font-size: 13px;
        padding-left: 30px;
        margin-right: 35px;
    }
    .footer .logo {
        width: 87px;
        height: 20px;
    }
    .footer span {
        font-size: 0.75em;
        margin-right: 30px;
    }
    .footer-img {
        left: -11px;
        bottom: 1px;    
        width: 30px;
        height: 30px;
    }
    .site {
        position: relative;
    }
    .footer img {
        width: 3vw;
        height: 3vw;
    }
    .footer-socials {
        gap: 15px;
        padding-bottom: 0;
    }
    .additional p {
        font-size: 11px;
    }
}
@media (min-width: 701px) {
    .burger {
        display: none;
    }
    .footer-socials {
        width: 27px;
        height: 27px;
        display: flex;
    }
}
@media (max-width: 700px) {
    .header-nav {
        display: none;
    }
    .aside-box p {
        font-size: 0.8125em;
    }
    h3 {
        font-size: 1.8125em;
    }
    .aside-flex2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .footer {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}
@media (max-width: 575px) {
    .container {
        max-width: 575px;
    }
    .header {
        margin-top: 30px;
    }
    .banner-girl {
        position: relative;
        left: 0;
    }
    .banner {
        display: flex;
        flex-direction: column-reverse;
    }
    .banner-box {
        padding-top: 60px;
        margin-bottom: 0;
        margin-left: 4%;
        margin-right: 4%;
    }
    h1 {
        font-size: 6vw;
        line-height: 125%;
    }
    h2 {
        font-size: 23px;
    }
    h3 {
        font-size: 26px;
    }
    #mainContent {
        margin-top: 140px;
    }
    .banner-text {
        margin-left: 0;
    }
    .banner-box-btn {
        padding: 24px 39px;
        margin-left: 15px;
        margin-bottom: 0;
    }
    .banner-link {
        display: none;
    }
    .banner-girl img {
        width: 90vw;
        height: 100%;
    }
    .content-flex {
        flex-wrap: wrap;
        gap: 11px;
        margin-top: 22px;
    }
    .item {
        flex: 1 0 43vw;
        height: 100vw;
    }
    .content-flex-date {
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 16px;
    }
    .content-flex-title {
        font-size: 25px;
        line-height: 120%;
    }
    .content-flex-btn {
        font-size: 19px;
        width: 130px;
        height: 40px;
        left: 0;
    }
    .item:hover .content-hover-btn {
        display: none;
    }
    .item:hover .content-flex-btn {
        display: block;
    }
    #modal {
        max-width: 310px;
        margin: 0 auto;
    }
    .modal-title {
        font-size: 16px;
        line-height: 120%;
    }
    .modal-description {
        font-size: 16px;
        line-height: 150%;
    }
    .modal-input {
        margin: 28px 10px;
    }
    .modal-btn {
        max-width: 340px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 40px;
    }
    .modal img {
        left: 67px;
        top: 46px;
        width: 40px;
        height: 40px;
    }
    .title span:nth-of-type(1) {
        font-size: 26px;
        line-height: 32px;
        max-width: 210px;
    }
    .title span:nth-of-type(2) {
        font-size: 16px;
        color: rgb(43, 53, 65, .7);
    }
    .content-grid {
        display: flex;
        flex-direction: column;
    }
    .content-grid-data {
        font-size: 16px;
    }
    .content-grid-title {
        font-size: 16px;
        margin-top: 0;
    }
    .flex-line {
        display: flex;
        align-items: center;
        margin-top: 35px;
        gap: 20px;
    }
    .content-grid-img1 {
        width: 39px;
        height: 39px;
    }
    .content-grid-text {
        font-size: 12px;
        line-height: 18px;
    }
    .content-grid-img4 {
        width: 34px;
        height: 53px;
    }
    .content-grid-img2 {
        width: 23px;
        height: 45px;
    }
    .content-grid-img5 {
        width: 39px;
        height: 37px;
    }
    .content-grid-img3 {
        width: 46px;
        height: 25px;
    }
    .content-grid-img6 {
        width: 35px;
        height: 40px;
    }
    .row {
        margin-bottom: 80px;
        max-width: 575px;
        position: relative;
    }
    .row-title {
        background-size: 60px 60px;
        background-position-x: 21px;
        background-position-y: 38px;
        padding: 55px;
    }
    .subscription {
        flex-direction: column;
        gap: 74px;
    }
    .row input {
        max-width: 340px;
        margin: 0 10px;
    }
    .subscription-btn {
        font-size: 16px;
        margin: 0 10px;
    }
    .agreement {
        margin-bottom: 0;
        position: absolute;
        top: 235px;
        margin-left: 10px;
    }
    .aside-cover {
        position: absolute;
        top: 745px;
    }
    .aside {
        display: flex;
        flex-direction: column;
        padding-bottom: 432px;
        margin-bottom: 0;
    }
    .aside-flex {
        display: block;
        position: relative;
        margin-bottom: 0;
    }
    .aside-flex2 {
        display: block;
    }
    .aside-btn {
        padding: 20px 100px;
        position: absolute;
        top: 670px;
    }
    .aside-box {
        position: relative;
    }
    .aside-title {
        font-size: 16px;
        margin-bottom: 16px;
        margin-top: 40px;
    }
    .aside-description {
        font-size: 16px;
        line-height: 24px;
    }
    .footer .logo {
        width: 97px;
        height: 30px;
        position: absolute;
        top: -4vw;
        left: 29vw;
    }
    .footer, .additional {
        flex-direction: column;
    }
    .site-socials {
        display: flex;
        align-items: center;
        gap: 146px;
        margin-top: 25px;
        margin-bottom: 44px;
        margin-left: -10%;
    }
    .footer span {
        font-size: 12px;
        margin-right: 0;
    }
    .footer img {
        width: 27px;
        height: 27px;
        bottom: -4px;
    }
    .footer-nav {
        align-self: center;
        margin-top: 26px;
    }
    .footer {
        margin-bottom: 0;
    }
    .additional {
        align-items: center;
        gap: 16px;
        padding-bottom: 40px;
    }
    footer {
        background-color: #FFFFFF;
        padding-top: 21vw;
    }
}
@media (min-width: 361px) {
    .content-phone-btn {
        display: none;
    }
}